<%= render :partial => 'shared/product_sub_menu' %>
<h1><%= t("Taxons")%></h1>
<%= render :partial => 'shared/product_tabs', :locals => {:current => "Taxons"} %>
<div id="taxons">
  <%= render :partial => "taxon_table", :locals => {:taxons => @taxons} %>
</div>
